
.body {
    z-index: 1;
    color:black;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 39px 58px 23px 40px;  

}
.background{
    z-index: -1;
    position: absolute;
    object-fit: cover;
    width: 100vw;
    top: 0px;
    left: 0;
    opacity: 0.3;
}
.header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 156px;
    background-color: white;
    padding: 31px 29px 32px 41px;
    margin-bottom: 28px;
    border-radius: 8px;
}
.titulo {
    color: black;
    display: flex;
    font-family: 'Roboto', sans-serif; /* Fonte Roboto, caso não tenha, vai para sans-serif */
    font-size: 40px; /* Tamanho da fonte */
    margin:0
    
}
.paragrafo {
    color: black;
    display: flex;
    font-family: 'Roboto', sans-serif; /* Fonte Roboto, caso não tenha, vai para sans-serif */
    font-size: 15px; /* Tamanho da fonte */
    margin: 28px 0 0 0;

}